@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  ;
}

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input,
button {
  font-family: "Montserrat";
}
#root{
  height: 100%;
  width: 100%;
}
.App{
  height: 100%;
  width: 100%;
}
.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}