.attributeItem {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .name {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: #d1d1d1;
        }

        span {
            transition: all 0.2s ease-in-out;
        }

        .rotate {
            transform: rotate(180deg);
        }
    }

    .wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;

        &__show {
            grid-template-rows: 1fr;
        }

        .options {
            display: flex;
            flex-direction: column;
            gap: 5px 0px;
            overflow: hidden;
            transition: all 0.3s;

            .option {
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #d1d1d1;
                }

                &__selected {
                    font-weight: bold;
                }
            }

        }
    }
}
@media (max-width: 768px) {
    .attributeItem {
        .name{
            font-size: 1.2rem;
            
        }
        .option{
            font-size: 1.1rem;
        }
    }
}
