.productCardsContainer {

    width: 100%;
    display: grid;
    justify-content: space-between;
    gap: 25px;
    box-sizing: border-box;
    padding: 0 10px;
}

.columns {
    &--4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &--5{
        grid-template-columns: repeat(5, 1fr);
    }

}

@media (max-width: 1200px) {
    .columns {
        &--5{
            grid-template-columns: repeat(4, 1fr);
        }
    
    }
}
@media (max-width: 1000px) {
    .columns {
        &--4 {
            grid-template-columns: repeat(3, 1fr);
        }
    
    }
}
@media (max-width: 800px) {
    .columns {
        &--4 {
            grid-template-columns: repeat(2, 1fr);
        }
        &--5{
            grid-template-columns: repeat(3, 1fr);
        }
    
    }
}

@media (max-width: 650px) {
    .productCardsContainer{
        gap: 10px;
    }
    .columns {
        &--5{
            grid-template-columns: repeat(2, 1fr);
        }
    
    }
}