.categoryAttribute {
    width: 100% ;
    height: 110px;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.1490196078);
    border-radius: 10px;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;

    .input {
        height: 50px;
        width: 200px !important;
    }

    .button {
        height: 50px;
        width: 200px !important;
    }

    .option {
        height: 100%;
        display: flex;

        input {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        button {
            height: 50px;
            width: 50px;
            border: none;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}