.someInfo {
    display: flex;
    min-height: 100px;

    div {
        flex-grow: 1;

        h3 {
            margin: 0px;
            color: white;

            span {
                display: none;
                transition:  all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
            }

            .rotate {//class to rotate span
                transform: rotate(180deg);
                
            }

        }


        .hidden {
            //class to hide ul
            max-height: 0px;
            
        }

        ul {
            overflow: hidden;
            margin: 0px;
            list-style-type: none;
            padding: 0px;
            margin-top: 10px;
            max-height: 100px;
            transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0px;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    align-items: center;
                    font-size: 16px;

                    &:hover {
                        color: white;
                    }

                    span {
                        font-size: inherit;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .someInfo {
        flex-direction: column;

        div {
            h3 {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: stretch;
                gap: 10px;

                span {
                    display: inline;
                }
            }
        }
    }
}