.productPurchasing {
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;

    .buttonsWrapper {
        display: flex;
        gap: 20px;
        height: 50px;

        .buttons {
            display: flex;
            flex-grow: 1;
            gap: 20px;

            button {
                height: 100%;
                font-size: 20px;
                flex-grow: 1;
            }

            >button:first-child {
                background-color: #00a8e8;
                color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    .productPurchasing {
        padding:15px;
    }
}