.cartItem {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 0.5fr 2fr;
    min-height: 50px;
    padding: 10px;
    border-bottom: 1px dashed grey;
    gap: 5px;
    &:last-child {
        border: none;
    }

    .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        height: 100%;

        img {
            max-width: 95%;
            max-height: 95%;
            box-sizing: border-box;
            -webkit-user-drag: none;
            transition: all 0.4s ease;
        }

        >div {
            display: flex;
            align-items: center;
        }
    }

    .title {
        overflow: hidden;

        p {
            overflow: hidden;
            overflow-wrap: break-word;
        }
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price {
        flex-direction: column;
        height: 100%;

        .rawPrice {
            color: grey;
            text-decoration: line-through;

        }

        p {
            margin: 0px;
        }
    }

    .buttons {
        gap: 10px;

        button {
            width: 40px;
            margin: unset;
            color: white;
            background-color: #00A8E8;

            span {
                font-size: 1.5rem;
                text-shadow: 0 0 3px black;
            }
        }
    }
}

@media (max-width: 768px) {
    .cartItem {
        grid-template-columns: 1.5fr 3fr 1fr 1fr 1fr;
    }
}