.authPanel {
    border-radius: 20px;
    position: relative;
    width: clamp(300px, 50%, 400px);
    min-height: clamp(300px, 40%, 400px);
    background-color: #0d1d2c;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0px 0px 2px 0px #bfbfbf;

    >button {
        position: absolute;
        top: -50px;
        right: 0px;
        box-shadow: 0px 0px 2px 0px #bfbfbf;
    }
}