.userPanel {
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: clamp(300px, 50%, 400px);
    min-height: clamp(300px, 40%, 400px);
    background-color: #0d1d2c;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0px 0px 2px 0px #bfbfbf;
    gap: 10px;
    h2,
    h3,
    h5 {
        margin: 0px;
    }

    >div {

        //styles for loading component
        &:first-of-type {
            border-radius: 20px;
        }
    }

    >button {
        &:first-of-type {
            position: absolute;
            top: -50px;
            right: 0px;
            box-shadow: 0px 0px 2px 0px #bfbfbf;
        }
    }

    .buttonWrapper {
        width: 100%;
        button {
            width: 50%;
            margin: 0 auto;
        }
    }

    .headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;


    }
}