.categories {
    z-index: 10;
    min-width: 100%;
    min-height: 50px;
    background-color: #122538;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    padding: 0px 10px;
    box-sizing: border-box;

    button {
        display: none;
    }

    .link {
        flex-shrink: 0;
        text-decoration: none;
        color: white;
        text-shadow: 0 0 3px #ffffff61;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 768px) {
    .categories {
        position: absolute;
        flex-direction: column;
        gap: 20px;
        button {
            position: absolute;
            display: flex;
            height: 40px;
            width: 40px;
            top: 10px;
            left: 10px;
        }

        .link {
            margin: 5px 0px;
            padding: 5px 0px;
            font-size: 24px;
            flex-basis: auto;
            width: 100%;
        }
    }
}